"../../../Holiday-Camp/nasty_hacks":
	path: "../../../Holiday-Camp/nasty_hacks"
	cwd: "../../../Holiday-Camp"

"../../../Holiday-Camp/nasty_hacks 2":
	path: "../../../Holiday-Camp/nasty_hacks"
	cwd: "../../../Holiday-Camp"

"../../../Holiday-Camp/nasty_hacks 3":
	path: "../../../Holiday-Camp/nasty_hacks"
	cwd: "../../../Holiday-Camp"
